@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

h2{
    font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
        text-align: justify;
        margin: 0px 25px 15px 5px; 
        padding: 0px 0px 10px;
        font-size: 30px;
        text-align: center;
}
p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      text-align: justify;
      margin: 0px 15px 15px 5px; 
      padding: 0px 0px 10px 12px;
      font-size: 15px;
}

.grid-container-delivery,.grid-container-promociones {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Alinea el contenido verticalmente */
    padding: 20px; /* Espaciado alrededor del contenedor */
  }
  .grid-container-delivery{
    background-color: #928c81;
  }
  .grid-container-promociones{
    background-color: #b4aa72;
  }
  /* Estilo del contenido de texto */
  .text-content {
    /* Ajusta el estilo según tus necesidades */
    text-align: justify;
  }
  
  /* Estilo del contenido de la imagen */
  .image-content img {
    width: 100%; /* La imagen se ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; 
    transition: transform 0.2 ease ;
    transform-origin: center center;
    cursor: pointer;
}
.image-content{
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
.image-content:hover img{
    transform: scale(1.2);
}



/* Ajustes generales para el contenedor principal */
main {
    padding: 10px;
    max-width: 3000px;
}
/* Contenedor de la cuadrícula principal */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Ajusta las proporciones de las columnas */
    gap: 8px;
    margin: 5px;
}

/* Estilos para secciones de formulario y contacto */
.form-section,
.contact-section {
    background-color: #AD9F82;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2,
.contact-section h2 {
    margin-top: 0;
    color: #333;
    font-size: 25px;
}

/* Estilos para las secciones del menú */
.menu-section {
    margin-bottom: 20px;
}

.menu-section h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 18px;
}

/* Disposición de la cuadrícula del menú */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}

/* Estilos para las etiquetas y los inputs en los elementos del menú */
label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilos para el grupo de formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para el botón */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #857149;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ad9564;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    }
    
    .form-section,
    .contact-section {
        padding: 15px;
    }
    
    .menu-grid {
        grid-template-columns: 1fr; /* Una columna para el menú en pantallas pequeñas */
    }
    
    .form-group {
        margin-bottom: 10px;
    }

    /* Para que el formulario sea más accesible en pantallas pequeñas */
    .form-group label,
    .form-group input {
        width: 100%;
        box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
    }

    h2{
        font-size: 30px;
        text-align: center;
    }
    p{
        font-size: 15px;
    }
    .grid-container-delivery, .grid-container-promociones{
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
    .image-content img {
        margin: 0 auto; /* Centra la imagen en pantallas pequeñas */
    }
    }

@media (min-width: 769px) and (max-width: 1024px){
    .grid-container {
        grid-template-columns: 1fr; /* Cambia a una sola columna en tablets más pequeñas */
    }
    .grid-container-delivery, .grid-container-promociones{
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        text-align: center; /* Centra el texto en pantallas pequeñas */
    }
    .form-section,
    .contact-section {
        padding: 15px;
    }
    
    .menu-grid {
        grid-template-columns: 1fr; /* Una columna para el menú en tablets más pequeñas */
    }
    
    .form-group {
        margin-bottom: 10px;
    }

    /* Para que el formulario sea más accesible en pantallas de tablets */
    .form-group label,
    .form-group input {
        width: 100%;
        box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
    }
    h2{
        font-size: 30px;
        text-align: center;
    }
    p{
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .form-section,
    .contact-section {
        padding: 10px;
    }

    button {
        font-size: 14px; /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
        padding: 8px;
    }
}
@media (min-width: 1600px){
    p{
        font-size: 19px;
    }
}
